$footer-height: 50px;

.content {
  min-height: calc(100vh - 80px);
}
.footer {
  height: $footer-height;
}

* {
  box-sizing: border-box;
}

footer {
  background: #333;
  color: #fff;
  line-height: $footer-height;
  padding: 0 20px;
}