$footerHeight: 50px;

.content {
  min-height: calc(100vh - 50px);
}
.footer {
  height: 50px;
}

* {
  box-sizing: border-box;
}
footer {
  background: #333;
  color: white;
  line-height: 50px;
  padding: 0 20px;
}