.table-button{
  background: #E6E6E6;
  //background: #fff;
  border: 1px solid #cbcbcb;
  border-radius: 0;
  //display: none;
  font-weight: bold;
}

.pure-table-bordered th{
  border-bottom: 1px solid #cbcbcb;
}

.table-button-horizontal{
  width: 100%;
  height: 20px;
  padding: 0px;
  padding-bottom: 2px;
}

.table-button:hover, .table-button:focus{
  background: #D2D2D2;
}

.table-button:active{
  background: #C8C8C8;
  background: #fff;
}

.button-revealer{
  //margin-bottom: 20px;
  margin-bottom: 0px;
}

.button-revealer:hover{
  margin-bottom: 0px;
}

.button-revealer:hover .table-button{
  display: block
}

.editor-table{
  border: none;
  border-bottom: 1px solid #cbcbcb;
}

.button-td-left{
  padding: 0;
}

th{
  background-color: #e0e0e0
}

tr{
  background: #fff;
  height: 35px;
  border-left: 1px solid #cbcbcb;
  border-right: 1px solid #cbcbcb;
}

.no-border-bottom{
  border-bottom-width: 0;
}

.no-border-left{
  border-left-width: 0;
}