table{
  background: white;
}

.table-button{
  background: #E6E6E6;
  border-radius: 0;
  display: none;
  height: 20px;
}

.table-button:hover, .table-button:focus{
  background: #D2D2D2;
}

.table-button:active{
  background: #C8C8C8;
}

.button-revealer{
  margin-bottom: 20px;
}


.button-revealer:hover{
  margin-bottom: 0px;
}

.button-revealer:hover .table-button{
  display: block
}